*{
    margin: 0; padding: 0;
    list-style: none;
    text-decoration: none;
}
nav {
    width: 100%; height: 50px;
    background: white;
    display: flex;
    justify-content: center;
}
nav div {
    border: 1px solid black;
    width: 10%; height: 100%;
    line-height: 50px;
    text-align: center;
    cursor: pointer; font-size: 1.5rem;

}
nav div:hover {
    background: skyblue;
    color: white;
}

.content {
    position: relative; top:0; left :0;
    width: 80%; height: 700px;
    margin: 50px auto;
    border: 1px solid black; 
}
.content li {
    width: 100%; height: 100%;
    top:0; left :0;
    position: absolute;
    background: white;
}
.content li .box {     /* divrk .box임 부모 */
    width: 100%; height: 100px;
    display: flex;
    justify-content:  space-between;
    border: 3px solid green;
}
.content li .box div {
    width: 17%; height: 300px;
    border: 1px solid red;

}
.content li .box div img {
    width: 100%; height: 100%;
}
/* 모든 cont 안보이고 */
.content li {
    display: none;
}
.content .cont1 {
    display: block;
}
.content li .big {
    border: 3px solid red;
    width: 50%; height: 200px;    
}